In [1]:
import pandas as pd
import json
import requests

In [2]:
response = requests.get("https://gitlab.com/drvicsana/cop-proyecto-2023/-/raw/main/project_data/incidentes2019.json")
incidents_db = json.loads(response.text)
response1 = requests.get("https://gitlab.com/drvicsana/cop-proyecto-2023/-/raw/main/project_data/distancias_estaciones_barrios.json")
distances_stations_ntas_db = json.loads(response1.text)
neighbors = distances_stations_ntas_db["42 South Street"].keys()

[{'address': '42 South Street', 'capacity': 2},
 {'address': '49 Beekman Street', 'capacity': 1},
 {'address': '100 Duane Street', 'capacity': 4},
 {'address': '14 N. Moore Street', 'capacity': 1},
 {'address': '75 Canal Street', 'capacity': 2},
 {'address': '25 Pitt Street', 'capacity': 3},
 {'address': '222 East 2 Street', 'capacity': 2},
 {'address': '340 East 14 Street', 'capacity': 1},
 {'address': '253 Lafayette Street', 'capacity': 2},
 {'address': '42 Great Jones Street', 'capacity': 2},
 {'address': '108 East 13 Street', 'capacity': 2},
 {'address': '132 West 10 Street', 'capacity': 1},
 {'address': '440 West 38th Street', 'capacity': 2},
 {'address': '220 West 37 Street', 'capacity': 1},
 {'address': '150 West 19 Street', 'capacity': 3},
 {'address': '142 West 31 Street', 'capacity': 2},
 {'address': '14 East 18 Street', 'capacity': 1},
 {'address': '234 East 29 Street', 'capacity': 2},
 {'address': '238 East 40 Street', 'capacity': 1},
 {'address': '782 Eighth Avenue', 'capacity': 3},
 {'address': '215 W 58th Street', 'capacity': 1},
 {'address': '131 Amsterdam Avenue', 'capacity': 2},
 {'address': '207 West 77th Street', 'capacity': 2},
 {'address': '120 West 83 Street', 'capacity': 1},
 {'address': '165 East 51 Street', 'capacity': 3},
 {'address': '221 East 75 Street', 'capacity': 1},
 {'address': '159 East 85 Street', 'capacity': 3},
 {'address': '1367 Fifth Avenue', 'capacity': 2},
 {'address': '1836 Third Avenue', 'capacity': 2},
 {'address': '242 East 111 Street', 'capacity': 1},
 {'address': '2282 Third Avenue', 'capacity': 3},
 {'address': '145 West 100th St.', 'capacity': 3},
 {'address': '500 West 113 Street', 'capacity': 1},
 {'address': '111 West 133 Street', 'capacity': 2},
 {'address': '415 West 125 Street', 'capacity': 2},
 {'address': '513 West 161 Street', 'capacity': 2},
 {'address': '29 Vermilyea Avenue', 'capacity': 2},
 {'address': '363 Broome Street', 'capacity': 1},
 {'address': '530 West 43 Street', 'capacity': 1},
 {'address': '157 E 67th St', 'capacity': 2},
 {'address': '248 West 143 Street', 'capacity': 3},
 {'address': '503 West 139 Street', 'capacity': 2},
 {'address': '515 West 181 Street', 'capacity': 3},
 {'address': '124 Liberty Street', 'capacity': 2},
 {'address': '33 West 43 Street', 'capacity': 1},
 {'address': '227 Sixth Avenue', 'capacity': 3},
 {'address': '518 West 170 Street', 'capacity': 1},
 {'address': '20 Rear Bloomfield Street', 'capacity': 1},
 {'address': '341 East 143 Street', 'capacity': 3},
 {'address': '330 East 150th Street', 'capacity': 1},
 {'address': '720 Melrose Ave.', 'capacity': 3},
 {'address': '1155 Washington Ave.', 'capacity': 3},
 {'address': '1160 Ogden Ave.', 'capacity': 2},
 {'address': '618 East 138 Street', 'capacity': 2},
 {'address': '1226 Seneca Ave.', 'capacity': 3},
 {'address': '1781 Monroe Ave.', 'capacity': 1},
 {'address': '1901 Sedgwick Ave.', 'capacity': 2},
 {'address': '460 Cross Bronx Expressway', 'capacity': 2},
 {'address': '453 E 176 Street', 'capacity': 1},
 {'address': '1215 Intervale Ave.', 'capacity': 2},
 {'address': '2417 Webster Ave.', 'capacity': 3},
 {'address': '925 East Tremont Ave.', 'capacity': 3},
 {'address': '2928 Briggs Ave.', 'capacity': 3},
 {'address': '1689 Story Ave.', 'capacity': 2},
 {'address': '1843 White Plains Rd.', 'capacity': 2},
 {'address': '1518 Williamsbridge Road', 'capacity': 2},
 {'address': '1454 Astor Ave.', 'capacity': 1},
 {'address': '3431 White Plains Road', 'capacity': 2},
 {'address': '3446 Eastchester Road', 'capacity': 2},
 {'address': '755 East 233 Street', 'capacity': 3},
 {'address': '21 Asch Loop', 'capacity': 2},
 {'address': '2924 Bruckner Blvd.', 'capacity': 2},
 {'address': '3929 East Tremont Ave.', 'capacity': 1},
 {'address': '169 Schofield Street', 'capacity': 2},
 {'address': '4550 Henry Hudson Parkway E.', 'capacity': 2},
 {'address': '2225 Belmont Ave.', 'capacity': 2},
 {'address': '3025 Bailey Ave.', 'capacity': 2},
 {'address': '655 Prospect Ave.', 'capacity': 2},
 {'address': '1214 Castle Hill Ave.', 'capacity': 2},
 {'address': '1259 Morris Ave.', 'capacity': 3},
 {'address': '1655 Washington Ave', 'capacity': 1},
 {'address': '2175 Walton Ave.', 'capacity': 3},
 {'address': '172 Tillary Street', 'capacity': 5},
 {'address': '409 State Street', 'capacity': 1},
 {'address': '74 Middagh Street', 'capacity': 2},
 {'address': '274 Hicks Street', 'capacity': 1},
 {'address': '252 Lorraine St.', 'capacity': 2},
 {'address': '31 Richards Street', 'capacity': 3},
 {'address': '436 39th St', 'capacity': 1},
 {'address': '788 Union Street', 'capacity': 1},
 {'address': '395 4th Ave.', 'capacity': 1},
 {'address': '530 11th Street', 'capacity': 2},
 {'address': '494 Dean Street', 'capacity': 2},
 {'address': "489 Saint John's Place", 'capacity': 2},
 {'address': "1352 Saint John's Place", 'capacity': 3},
 {'address': '423 Ralph Ave.', 'capacity': 1},
 {'address': '25 Rockaway Ave.', 'capacity': 2},
 {'address': '940 Dekalb Avenue', 'capacity': 1},
 {'address': '32 Ralph Ave.', 'capacity': 2},
 {'address': '495 Hancock Street', 'capacity': 2},
 {'address': '701 Park Avenue', 'capacity': 1},
 {'address': '206 Monroe Street', 'capacity': 2},
 {'address': '850 Bedford Ave.', 'capacity': 1},
 {'address': '160 Carlton Ave.', 'capacity': 1},
 {'address': '26 Hooper Street', 'capacity': 2},
 {'address': '161 South 2nd Street', 'capacity': 2},
 {'address': '187 Union Ave.', 'capacity': 3},
 {'address': '205 Greenpoint Ave.', 'capacity': 2},
 {'address': '75 Richardson Street', 'capacity': 2},
 {'address': '1201 Grand Street', 'capacity': 1},
 {'address': '43 Morgan Ave.', 'capacity': 1},
 {'address': '650 Hart Street', 'capacity': 1},
 {'address': '392 Himrod Street', 'capacity': 3},
 {'address': '582 Knickerbocker Ave.', 'capacity': 2},
 {'address': '617 Central Ave.', 'capacity': 1},
 {'address': '107 Watkins Street', 'capacity': 3},
 {'address': '885 Howard Ave.', 'capacity': 2},
 {'address': '165 Bradford st.', 'capacity': 2},
 {'address': '480 Sheffield Ave.', 'capacity': 2},
 {'address': '998 Liberty Ave.', 'capacity': 1},
 {'address': '799 Lincoln Ave.', 'capacity': 3},
 {'address': '5105 Snyder Ave.', 'capacity': 2},
 {'address': '491 Rogers Ave.', 'capacity': 2},
 {'address': '2900 Snyder Ave.', 'capacity': 2},
 {'address': '1210 Cortelyou Road', 'capacity': 2},
 {'address': '1367 Rogers Ave.', 'capacity': 2},
 {'address': '1307 Prospect Ave.', 'capacity': 2},
 {'address': '4210 12th Ave.', 'capacity': 2},
 {'address': '1336 60th Street', 'capacity': 1},
 {'address': '6630 3rd Avenue', 'capacity': 2},
 {'address': '9219 5th Ave.', 'capacity': 1},
 {'address': '1157 79th St.', 'capacity': 2},
 {'address': '8653 18th Ave.', 'capacity': 3},
 {'address': '126 Foster Ave.', 'capacity': 1},
 {'address': '2312 65th Street', 'capacity': 2},
 {'address': '1635 E. 14th Street', 'capacity': 3},
 {'address': '2429 86th Street', 'capacity': 1},
 {'address': '2510 Neptune Ave.', 'capacity': 2},
 {'address': '901 Avenue U', 'capacity': 2},
 {'address': '2929 W. 8th Street', 'capacity': 3},
 {'address': '1361 Rockaway Parkway', 'capacity': 3},
 {'address': '6405 Avenue N', 'capacity': 1},
 {'address': '1851 E. 48 Street', 'capacity': 2},
 {'address': '2732 E. 11th Street', 'capacity': 2},
 {'address': '2165 Gerritsen Ave.', 'capacity': 1},
 {'address': 'Brooklyn Navy Yard Building 292', 'capacity': 2},
 {'address': '5113 4th Avenue', 'capacity': 3},
 {'address': '1815 Sterling Place', 'capacity': 1},
 {'address': '10-40 47th Ave.', 'capacity': 2},
 {'address': '41-24 51st Street', 'capacity': 2},
 {'address': '33-51 Greenpoint Avenue', 'capacity': 3},
 {'address': '11-15 37th Avenue', 'capacity': 1},
 {'address': '37-20 29th Street', 'capacity': 1},
 {'address': '30-89 21st Street', 'capacity': 1},
 {'address': '42-06, 42-08 Astoria Blvd. South', 'capacity': 2},
 {'address': '22-63 35th St.', 'capacity': 2},
 {'address': '81-17 Northern Blvd.', 'capacity': 2},
 {'address': '97-28 43rd Avenue', 'capacity': 2},
 {'address': '27-12 Kearney Street', 'capacity': 1},
 {'address': '108-01 Horace Harding Exp.', 'capacity': 2},
 {'address': '64-18 Queens Blvd.', 'capacity': 2},
 {'address': '56-29 68th Street', 'capacity': 1},
 {'address': '86-53 Grand Avenue', 'capacity': 3},
 {'address': '111-02 Queens Blvd.', 'capacity': 2},
 {'address': '66-44 Myrtle Avenue', 'capacity': 2},
 {'address': '78-11 67th Road', 'capacity': 1},
 {'address': '119-11 14th Road', 'capacity': 2},
 {'address': '12-49 149th Street', 'capacity': 2},
 {'address': '40-18 Union Street', 'capacity': 2},
 {'address': '41-20 Murray Street', 'capacity': 2},
 {'address': '36-18 Francis Lewis Blvd.', 'capacity': 2},
 {'address': '40-18 214th Place', 'capacity': 1},
 {'address': '159-06 Union Turnpike', 'capacity': 2},
 {'address': '61-20 Utopia Parkway', 'capacity': 2},
 {'address': '64-04 Springfield Blvd.', 'capacity': 3},
 {'address': '44-01 244th Street', 'capacity': 2},
 {'address': '254-20 Union Turnpike', 'capacity': 1},
 {'address': '89-40 87th Street', 'capacity': 1},
 {'address': '103-17 98th Street', 'capacity': 2},
 {'address': '101-02 Jamaica Avenue', 'capacity': 2},
 {'address': '91-45 121st Street', 'capacity': 2},
 {'address': '107-12 Lefferts Blvd.', 'capacity': 2},
 {'address': '153-11 Hillside Avenue', 'capacity': 3},
 {'address': '104-12 Princeton Street', 'capacity': 2},
 {'address': '111-36 Merrick Blvd.', 'capacity': 2},
 {'address': '91-04 197th Street', 'capacity': 2},
 {'address': '218-44 97th Avenue', 'capacity': 2},
 {'address': '143-15 Rockaway Blvd.', 'capacity': 2},
 {'address': '117-11 196th Street', 'capacity': 3},
 {'address': '145-50 Springfield Blvd.', 'capacity': 2},
 {'address': '142-04 Brookville Blvd.', 'capacity': 1},
 {'address': '158-57 Cross Bay Blvd.', 'capacity': 2},
 {'address': '257 Beach 116th Street', 'capacity': 2},
 {'address': '402 B. 169 Street', 'capacity': 1},
 {'address': '92-20 Rockaway Beach Blvd.', 'capacity': 1},
 {'address': '56-07 Metropolitan Avenue', 'capacity': 2},
 {'address': '16-15, 16-17, 16-19 Central Ave.', 'capacity': 3},
 {'address': '420A Weaver Ave', 'capacity': 1},
 {'address': '48-06 Rockaway Beach Blvd', 'capacity': 3},
 {'address': '14 Brighton Avenue', 'capacity': 2},
 {'address': '1189 Castleton Avenue', 'capacity': 2},
 {'address': '412 Broadway', 'capacity': 1},
 {'address': '875 Jewett Avenue', 'capacity': 2},
 {'address': '74 Broad Street', 'capacity': 2},
 {'address': '3067 Richmond Road', 'capacity': 2},
 {'address': '1573 Castleton Avenue', 'capacity': 2},
 {'address': '65 Harbor Road', 'capacity': 1},
 {'address': '1400 Richmond Avenue', 'capacity': 2},
 {'address': '3730 Victory Boulevard', 'capacity': 2},
 {'address': '256 Hylan Blvd.', 'capacity': 2},
 {'address': '278 McClean Avenue', 'capacity': 2},
 {'address': '1850 Clove Road', 'capacity': 3},
 {'address': '1592 Richmond Road', 'capacity': 1},
 {'address': '256 Nelson Ave.', 'capacity': 3},
 {'address': '345 Annadale Road', 'capacity': 2},
 {'address': '1560 Drumgoole Road West', 'capacity': 2},
 {'address': '7219 Amboy Road', 'capacity': 2},
 {'address': '1100 Rossville Ave', 'capacity': 1},
 {'address': '305 Front Street', 'capacity': 1}]

In [3]:
ev = 197
lv = 143
rv = 5
sv = 8
hv = 1

In [4]:
df =pd.DataFrame()

In [5]:
nta = [elem["nta"] for elem in incidents_db]
units = [elem["units"] for elem in incidents_db]
incident_duration = [elem["incident_duration"] for elem in incidents_db]
first_shift = [elem["is_first_shift"] for elem in incidents_db]
df["nta"]=nta
df["units"]=units
df["incident_duration"]=incident_duration
df["first_shift"]=first_shift

In [6]:
f_shift_db = df[df["first_shift"]==True].reset_index().drop(["index"],axis=1)
s_shift_db = df[df["first_shift"]==False].reset_index().drop(["index"],axis=1)

In [7]:
f_shift_db

,nta,units,incident_duration,first_shift
0,MN03,[ladder],779.0,True
1,MN23,[engine],1935.0,True
2,BK43,[ladder],521.0,True
3,BX14,[engine],1206.0,True
4,BK33,[ladder],730.0,True
...,...,...,...,...
59360,QN26,[ladder],339.0,True
59361,BX44,[engine],710.0,True
59362,MN23,"[engine, ladder, ladder, ladder, engine, engine]",2555.0,True
59363,QN62,[rescue],1860.0,True
59364,SI07,"[engine, ladder]",1117.0,True

In [8]:
units_per_nta_per_shift1 = f_shift_db.groupby(by="nta")["units"].sum()
units_per_nta_per_shift2 = s_shift_db.groupby(by="nta")["units"].sum()

In [9]:
n1 = list(units_per_nta_per_shift1.index)
n2 = list(units_per_nta_per_shift2.index)

In [10]:
ladders = 0
engines = 0
squads = 0
rescues = 0
ha = 0
for elem in units_per_nta_per_shift1:
    
    for e in elem:
        if e == "ladder":ladders+=1
        elif e == "squad": squads+=1
        elif e == "engine": engines+=1
        elif e == "hazardous": ha+=1
        else : rescues+=1

In [11]:
print(ladders)
print(squads)
print(engines)
print(rescues)
print(ha)

56203
2415
47109
4702
2319

In [12]:
ntas = []
engines_vehicles = []
squad_vehicles = []
rescue_vehicles=[]
ha_vehicles = []
ladder_vehicles = []

for i,elem in enumerate(units_per_nta_per_shift1):
    l = elem.count('ladder')
    e = elem.count('engine')
    h = elem.count('hazardous')
    s = elem.count('squad')
    r = elem.count('rescue')
    
    s_l = l/ladders
    s_e = e/engines
    s_h = h/ha
    s_s = s/squads
    s_r = r/rescues

    ntas.append(n1[i])
    engines_vehicles.append(s_e*ev)
    rescue_vehicles.append(s_r*rv)
    squad_vehicles.append(s_s*sv)
    ha_vehicles.append(s_h*hv)
    ladder_vehicles.append(s_l*lv)

In [13]:
ladders2 = 0
engines2 = 0
squads2 = 0
rescues2 = 0
ha2 = 0
for elem in units_per_nta_per_shift2:
    
    for e in elem:
        if e == "ladder":ladders2+=1
        elif e == "squad": squads2+=1
        elif e == "engine": engines2+=1
        elif e == "hazardous": ha2+=1
        else : rescues2+=1

In [14]:
for i,elem in enumerate(units_per_nta_per_shift2):
    l = elem.count('ladder')
    e = elem.count('engine')
    h = elem.count('hazardous')
    s = elem.count('squad')
    r = elem.count('rescue')
    
    s_l = l/ladders
    s_e = e/engines
    s_h = h/ha
    s_s = s/squads
    s_r = r/rescues

    ntas.append(n2[i])
    engines_vehicles.append(s_e*ev)
    rescue_vehicles.append(s_r*rv)
    squad_vehicles.append(s_s*sv)
    ha_vehicles.append(s_h*hv)
    ladder_vehicles.append(s_l*lv)

In [15]:
df_final = pd.DataFrame()
df_final["nta"]= ntas
df_final["engines"]=engines_vehicles
df_final["squads"]=squad_vehicles
df_final["ladders"]=ladder_vehicles
df_final["ha"]=ha_vehicles
df_final["rescue"]=rescue_vehicles
df_final["shift"]=[1]*45+[0]*44

In [16]:
df_final

     nta    engines    squads   ladders        ha    rescue  shift
0   BK17   4.934514  0.188820  3.806345  0.028029  0.113781      1
1   BK25   3.671613  0.159006  2.610501  0.018974  0.099957      1
2   BK27   2.396166  0.125880  1.681814  0.011643  0.062739      1
3   BK28   5.043240  0.208696  3.684216  0.028029  0.129732      1
4   BK30   3.378887  0.162319  2.236482  0.016818  0.086134      1
..   ...        ...       ...       ...       ...       ...    ...
84  QN52   1.802352  0.023188  1.094070  0.009487  0.005317      0
85  QN55   4.871787  0.039752  2.948900  0.025011  0.057422      0
86  QN62   1.250356  0.013251  0.844724  0.009918  0.011697      0
87  SI07   4.290518  0.046377  2.554526  0.038379  0.034028      0
88  SI22  10.157571  0.076190  6.276907  0.065977  0.063803      0

[89 rows x 7 columns]

In [17]:
engines_vehicles

[4.934513574900762,
 3.671612643019381,
 2.3961663376424887,
 5.043240145195186,
 3.378887261457471,
 6.105415101148401,
 3.161434120868624,
 3.479250249421554,
 4.0187013097285025,
 1.7647158717017981,
 5.085058056846887,
 7.999766498970473,
 2.588528731240315,
 8.284128298202042,
 2.6721645545437176,
 4.353244602942113,
 4.9721496953872935,
 6.214141671442824,
 7.543951261966928,
 9.12885011356641,
 2.1118045384109196,
 3.479250249421554,
 6.017597486679827,
 6.117960474643911,
 5.377783438408797,
 8.008130081300813,
 0.19654418476299645,
 3.742703092827273,
 1.8901696066569018,
 4.131609671188096,
 2.42962066696385,
 4.395062514593814,
 2.0741684179243878,
 4.712878643146745,
 1.8692606508310514,
 3.286887855823728,
 3.5127045787429156,
 2.7892547071684817,
 1.881806024326562,
 1.5263537752871001,
 2.3543484259907874,
 6.883228257870046,
 1.710352586554586,
 5.586872996667304,
 14.117726973614385,
 2.5383472372582734,
 2.036532297437857,
 1.6308985544163535,
 1.82326094801418,
 4.215245494491498,
 3.95597444225095,
 1.9863508034558153,
 6.6197754144643275,
 1.977987221125475,
 3.320342185145089,
 3.592158610881148,
 5.938143454541595,
 3.9434290687554396,
 3.186524867859645,
 3.194888450189985,
 2.517438281432423,
 0.2718164257360589,
 2.9439809802797767,
 7.339043494873591,
 2.835254409985353,
 6.607230040968817,
 6.071960771827039,
 4.24869982381286,
 4.717060434311915,
 4.127427880022926,
 6.059415398331529,
 4.123246088857755,
 3.7050669723407417,
 0.15890806427646523,
 2.6387102252223564,
 1.2545373495510412,
 3.4457959201001933,
 3.5127045787429156,
 3.2032520325203255,
 1.066356747118385,
 1.246173767220701,
 2.253985438026704,
 1.371627502175805,
 1.2796280965420619,
 1.8023519921883293,
 4.87178670742321,
 1.250355558385871,
 4.290517735464562,
 10.157570740198263]

In [ ]:
df_final.to_csv("estimated_demand.csv")